@charset "utf-8";


.project_list .inner {
    position:relative;
}
.leftAD {
    position: absolute;
    top: -130px;
    left: -290px;
}

.leftAD a.l_ad_01 {
    width: 250px;
    height: auto;
    display: block;
    margin-bottom: 30px;
}
.leftAD a.l_ad_02 {
    width: 250px;
}
.leftAD img {
    width: 100%;
    height: auto;
    display: block;
}

/**/
.project_list .inner {
    position:relative;
}
.rightAD {
    position: absolute;
    top: -130px;
    right: -290px;
}

.rightAD a.r_ad_01 {
    width: 250px;
    height: auto;
    display: block;
    margin-bottom: 30px;
}
.rightAD a.r_ad_02 {
    width: 250px;
}
.rightAD img {
    width: 100%;
    height: auto;
    display: block;
}