@charset "utf-8";

#keyword .inner {
    position: relative;
}

#keyword button {
    transition: all 0.3s;
}
#keyword button:hover {
    background-color: #eeeef1;
}

#keyword .tit_box h2{
    margin-top: 100px;
    font-size: 32px;
    margin-bottom: 20px;
}
#keyword .tit_box p {
    
    color: #999999;
    font-size: 18px;
    margin-bottom: 70px; 
}
#keyword .keyword_wrap {
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    padding: 50px;
    border-radius: 10px;

    margin-bottom: 180px;
    padding-top: 60px;
}
#keyword .keyword_content {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;
    position: relative;
}
#keyword .keyword_content2 {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

#keyword .keyword_content h3 {
    font-size: 18px;
    width: 200px;
}

#keyword .keyword_content2 h3 {
    font-size: 18px;
    width: 200px;
    margin-right: 20px;
}
#keyword .keyword_content .interest_keyword {
    width: calc(100% - 200px);
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    gap: 10px;
    border: 1px solid #d9d9d9;
    padding: 10px;
    min-height: 100px;
    border-radius: 5px;
}
#keyword .keyword_content .interest_keyword.active {
    border: 1px solid #76c3c5;
}

#keyword .keyword_content button {
    border: 1px solid #d9d9d9;
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 5px;
    position: absolute;
    bottom: -40px;
    right: 0;
}

#keyword .keyword_content .interest_keyword span {
    background-color: #76c3c5;
    color: #fff;
    border: 1px solid #76c3c5;
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 10px;
}
#keyword .keyword_content .interest_keyword2 span {
    background-color: #fff;
    color: #666;
    border: 1px solid #d9d9d9;
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 10px;
}

#keyword .keyword_content .interest_keyword textarea {
    border: none;
    width: 100%;
    height: 100%;
    min-height: 100px;
    font-size: 16px;
    white-space: pre-wrap;
    word-break: break-word;
    resize: none;

    
    font-family: "Pretendard-Medium";
}
#keyword .keyword_content .interest_keyword textarea::placeholder {
    color: #bbb;
}

#keyword .keyword_content .interest_keyword textarea:focus {
    outline: none;
    border: none;
}

#keyword .keyword_des {
    margin-left: 220px;
    margin-bottom: 50px;
}


#keyword .interest_price {
    border: 1px solid #d9d9d9;
    width: calc(100% - 900px);
    height: 40px;
    margin-left: -10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
}

#keyword .interest_price p {
    padding-left: 20px;
}

#keyword .keyword_content2 > button {
    border: 1px solid #d9d9d9;
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 5px;
}
#keyword .keyword_content2 input {
    width: 88%;
    height: 28px;
    border: 0;
    padding-left: 20px;
    font-size: 16px;
}

#keyword .keyword_content2 .upDownBtn {
    display: flex;
    width: 50px;
    height: 40px;
    flex-wrap: wrap;
    align-items: first baseline;
    gap: 2px;
}
#keyword .keyword_content2 .upDownBtn > button {
    width: 50px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
}

#keyword .save_cancel_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    gap: 20px;
}

#keyword .save_cancel_btn button {
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 10px;
}

#keyword .save_cancel_btn button:first-child {
    background-color: #76c3c5;
    color: #fff;
}

#keyword .save_cancel_btn button:first-child:hover {
    background-color: #5bb3b6;
}

#keyword .save_cancel_btn button:last-child {
    background-color: #76c3c5;
}

#keyword .save_cancel_btn button:last-child:hover {
    background-color: #5bb3b6;
}

#keyword .alert_keyword {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.1);
    z-index: 99999;
}

#keyword .alert_keyword_content {
    position: fixed;
    text-align: center;
    width: 450px;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background-color: #fff;

    box-sizing: border-box;
    padding: 80px 32px 40px 48px;
    border-radius: 10px;
    border: 1px solid #76c3c5;
    z-index: 999999;
}
#keyword .alert_keyword_content p {
    font-size: 18px;
}

#keyword .alert_keyword_content button {
    margin-top: 40px;
    font-size: 16px;
    padding: 8px 20px;;
    border-radius: 10px;
    background-color: #e1e1e1;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}